<input type="button"
       onclick="location.href={% url 'twitchsearch:stream' "pt" %};"
       value="Portuguese version"/>
<input type="button"
       onclick="location.href={% url 'twitchsearch:stream' "es" %};"
       value="Spanish version"/>
<input type="button"
       onclick="location.href={% url 'twitchsearch:stream' "fr" %};"
       value="French version"/>
<input type="button"
       onclick="location.href={% url 'twitchsearch:stream' "it" %};"
       value="Italian version version"/>
<input type="button"
       onclick="location.href={% url 'twitchsearch:stream' "en" %};"
       value="English version version"/>
